*{
    margin:0;
    padding:0;
}

body{
     font-family: mykomed;
      font-weight: 800;
}
.first{
    border-bottom: 2px solid white;
    position: fixed;
    z-index: 20;
    background-color:rgb(0,210,198);
    height: 115px;
    width: 100%;
    display: flex;
}
.first0{
    align-content: center;
    margin-left: 30px;
     height: 100px;
    width: 70%;
}
.first0 img{
    height: 80px;
    width: 90px;
}
.first1{
    height: 100px;
    width: 23%;
    margin-left: 20px;
    align-content: center;    
}
.first1 li{
    font-size: 18px;
    font-weight: 700;
    float: left;
    padding: 10px;
    list-style-type: none;
}
.first1 a{
     font-family: mykomed;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    color: white;
}
.first1 a:hover{
    text-decoration: underline;
}
.first2{
   
   height: 100px;
   width: 25%;
   align-content: center;
}
.first2 a{
    color: white;
    text-decoration:none;
    font-size: 33px;
}
.first2 a:hover{
    font-size: 37px;
}
.second1{
    height: 800px;
    width: 100%;
}
.second1 img{
    margin-top: 7%;
    height: 700px;
    width: 100%;
}
.text{
    font-family: myk;
    font-weight:bolder;
    font-size: 29px;
    color:white ;
    position: absolute;
    top: 50%;
    right: 58%;
}
.button{
    height: 40px;
    width: 140px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
}
.button a{
    color: white;
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
}
.button:hover{
    text-decoration: underline;
}
.third1{
     height: 700px;
    width: 100%;
}
.third1 img{
     height: 800px;
    width: 100%;
}
.third{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .third2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 220px;
    width: 43%;
    background-color:rgb(10,85,39);
    border-radius: 150px;
    opacity:0.8;
 }

 .third3{
    color: white;
    flex-direction: column;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .third3 h2{
    font-size: 36px;
 }
 .third3 p{
    font-size: 16px;
 }
 .button2{
    color: white;
    height: 40px;
    width: 140px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: transparent;
 }
 .button2 a{
    font-size:15px ;
    font-weight: 700;
    color: white;
    text-decoration: none;
 }
 .button2:hover{
    background-color: rgb(8, 128, 54);
    text-decoration: underline;
 }
.four1 {
      height: 700px;
    width: 100%;
}
.four1 img{
    margin-top: 6%;
      height: 700px;
    width: 100%;
}
.four{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;

}

 .four2{
      margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    position: absolute;
    height: 220px;
    width: 43%;
    background-color:rgb(10,85,39);
    border-radius: 150px;
    opacity:0.8;
 }
 .four3{
   
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    
 }
.four3 p{
    font-size: 16px;
}
.four3 h2{
    font-size: 34px;
}
 .button3{
    color: white;
    height: 40px;
    width: 140px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: transparent;
 }
 .button3 a{
    font-size: medium;
    font-weight: 700;
    color: white;
    text-decoration: none;
 }
 .button3:hover{
    background-color: rgb(8, 128, 54);
    text-decoration: underline;
 }
 .five{
     background-color: rgb(62,62,62);
    height: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

 }.five1{
    margin-top: 70px;
    margin-left: 250px;
     height: 170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;

 }
 .five1 li{
    list-style: none;
    float: left;
    padding: 10px;
 }
 .five1 a{
    text-decoration: none;
    color: white;
    font-size: medium;

 }
 .five1 a:hover{
    text-decoration: underline;
 }
 .five1 p{
    color: white;
    margin-left: 160px;
    font-size: small;
 }
